body {
    color: #444240;
    background-color: #ebeeed;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.site {
    overflow: hidden;
}

.banner {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.site-affix.affix {
    background: rgba(31,37,38,0.95);
    box-shadow: none;
    opacity: 1;
    width: 100%;
    z-index: 999;
}

.site-affix.affix .navbar-inner {
    margin-top: 0;
}

.affix {
    position: fixed;
    background: rgba(31,37,38,0.95);
    -webkit-transition: background .6s;
    -moz-transition: background .6s;
    -o-transition: background .6s;
    transition: background .6s;
}

.navbar-default .navbar-nav > li > a {
    color: #DEDEE3;
}

.navbar-inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0;
}

.navbar-inner > .container {
    margin-top: 50px;
    position: relative;
    transition: all 0.2s ease-out 0s;
}

.navbar-default .navbar-collapse {
    overflow-x: hidden;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 8px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #363635;
}

.navbar-collapse {
    border: medium none;
    padding: 0;
}

.navbar .nav li a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.65;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
    opacity: 1;
}

.navbar .nav li a:hover,
.navbar .nav li a:focus {
    opacity: 0.85;
    color: #fff;
}

.home {
    height: 300px;
    width: 100%;
    background: url("../images/header.jpeg");
    background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-repeat: no-repeat;
}

.header-text {
    padding-top: 200px;
    padding: 200px 40px 0 40px;
    text-transform: uppercase;
    color: #1F2526;
    font-size: 28px;
    opacity: 0.8;
}

#websites,
#work,
#contact {
    padding: 60px 0 30px 0;
}

#websites {
    background: none repeat scroll 0 0 #ebeeed;
}

.websites-section {
    margin-bottom: 60px;
    margin-top: 0;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.websites-section:last-child {
    margin-bottom: 0;
}

.websites-img {
    height: 270px;
}

.website-ctg {
    background-image: url("../images/CTG.png");
}

.website-texas3d {
    background-image: url("../images/texas_3d.png");
}

.website-ctg,
.website-texas3d {
    border-radius: 3px 0 0 3px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-repeat: no-repeat;
}

.websites-post {
    padding: 30px;
}

.websites-post p {
    font-size: 15px;
    line-height: 25px;
}

.btn {
    background: none repeat scroll 0 0 transparent;
    transition: all 0.1s ease-out 0s;
}

.piled-segment {
    box-shadow: 0 0 1px 1px rgba(39,41,43,.15);
    z-index: auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .2857rem;
    border: none;
}

.piled-segment:before {
    -webkit-transform: rotate(-1.2deg);
    -ms-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
    top: 0;
    z-index: -2;
    background-color: #fff;
    visibility: visible;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 0 1px 1px rgba(39,41,43,.15);
}

.piled-segment p {
    padding-bottom: 20px;
    min-height: 75px;
}

.ribbon-segment {
    font-size: 18px;
    /*background-color: #ffffff;
    margin: 1rem 0;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);*/
    margin-left: 30px;
}

.ribbon-label {
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    position: relative;
    margin: 0;
    min-width: -webkit-max-content;
    border-radius: 0 .2857rem .2857rem 0;
    border-color: rgba(0,0,0,.15);
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
    background-color: rgba(31,37,38,0.95);
    background-image: none;
    padding: .6em .8em;
    color: #ffffff;
    text-transform: none;
    font-weight: 700;
    box-sizing: border-box;
    transition: background .2s ease;
}

.ribbon-label:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    background-color: transparent!important;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent;
    border-right-color: inherit;
    width: 0;
    height: 0;
}

.contact-text {
    padding-left: 10px;
}

.contact-text a {
    color: #444240;
}

.about-text {
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}

.divider {
    border: 1px solid #DEDEE3;
}

.navbar-toggle {
    margin: 23px 0;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
    line-height: 80px;
}

.navbar-nav li a {
    padding-top: 0;
    padding-bottom:0;
}

@media (max-width: 767px) {
    .site-affix.affix-top,
    .site-affix.affix {
        background: rgba(31,37,38,0.95);
        box-shadow: none;
        opacity: 1;
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    .site-affix.affix-top .navbar-inner,
    .site-affix.affix .navbar-inner {
        margin-top: 0;
    }

    .websites-post {
        padding: 30px;
    }

    .website-ctg,
    .website-texas3d {
        border-radius: 3px 3px 0 0;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-inner {
        margin-top: 80px;
    }

    .navbar-brand {
        padding: 0;
        margin-top: -5px;
    }

    .navbar-nav, .navbar-nav li, .navbar-nav li a {
        height: 80px;
    }
}
